img{
    max-height: 250px;
    height: 250px !important;
}

.wish-box{
    position: relative;
}

.wish-box span{
    right: -8px;
    position: absolute;
    top: -12px;
}
.wish-box i{
    font-size: 25px;
    color: red;
}